<%- include("partials/loginheader") -%>
<h1>Home</h1>
<p ><%= hcontent%></p>
<% newpost.forEach((post)=> { %>
    <h1><%= post.title %></h1>
    <p class="limit"><%= post.content %> </p>
    <a href="/posts/<%= post._id %>" >Read More</a>
<% }) %>
<%- include("partials/footer") -%>

